
.navigation_main{


    position:sticky;
}

.navigation_main a {
    
    text-transform: uppercase;
    font-weight: bold;

    
}


.nav-item a{
    color:white;
  }




.nav-item a:hover {
    
    border-bottom: 2px solid #FF5F15;
    
    
}

.nav-item a:visited{

    color: white;
}

.nav-item{
    
    min-width:8em;

}


.brandName{

    font-weight: bold;
    letter-spacing: 4px;

}

#NavDropdown{

    background:#037582;
}

@media (max-width: 992px) { 
    
    .navbar-toggler{
    
        margin-bottom: 2rem;
    
    }
}


  